<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-Up</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        body {
            /* background-color: antiquewhite; */
            margin: 5% 20% 5% 20%;
        }

        #outer-div {
            background-color: rgb(95, 203, 203);
            height: 80vh;
            border: 2px solid;
        }

        #page-header {
            background-color: azure;
            height: 10vh;
            position: relative;
            text-align: center;

        }

        #page-header ul {
            display: flex;
            margin-top: 2rem;
        }

        #page-header ul li {
            margin-top: 3%;
        }

        #page-header a {
            text-decoration: none;
            color: white;
            font-size: 1rem;
        }

        #page-header button {
            margin-left: 1.5rem;
            background-color: darkcyan;
            border-radius: 5px;
            padding: 0.2rem;
            color: white;
            cursor: pointer;
        }

        #layout-main {
            text-align: center;
            height: 80vh;
            width: 80vw;
            margin-inline: auto;
            background-color: aqua;
        }

        #layout-footer {
            background-color: olivedrab;
            height: 10vh;
        }

        #page-div {
            background-color: aquamarine;
            margin-inline: 20%;
            border-radius: 5px;

        }

        form {
            /* background-color: gainsboro; */
            text-align: center;
        }

        form input {
            margin-top: 5%;
        }

        form button {
            margin-top: 5%;
            font-size: 1.2rem;
            background-color: darkcyan;
            padding: 0.3rem;
            border-radius: 8px;
        }

        .other-button {
            /* margin-top: 5%; */
            font-size: 1.2rem;
            background-color: darkcyan;
            padding: 0.3rem;
            border-radius: 8px;
        }

        button a {
            color: white;
            text-decoration: none;

        }

        #header {
            text-align: center;
            margin-top: 10%;

        }

        #google {
            margin-top: 3%;
            background-color: darkkhaki;
            width: fit-content;
            margin-inline: auto;
            padding: 1rem;
            border-radius: 8px;

        }

        #google a {
            cursor: pointer;

        }

        #form-div h1 {
            text-align: center;
            text-decoration: underline;

        }

        .msg {
            background-color: crimson;
            color: white;
            margin-top: 1rem;
            text-align: center;
        }

        .msg1 {
            background-color: darkolivegreen;
            color: white;
            margin-top: 1rem;
            text-align: center;
        }
    </style>
</head>

<body>
    <div id="outer-div">
        <header id="page-header">
            <h1><u>Authentication System</u></h1>
            <button class="page-header-button" type="button"><a href="/signup">Sign-Up</a></button>
            <button class="page-header-button" type="button"><a href="/signin">Sign-In</a></button>
        </header>
        <div id="form-div">
            <h1>Reset-password</h1>

            <% if(msg=="Password reset successful" ){%>
                <P class="msg1">
                    <%=msg%>
                </P>
                <%}else{%>
                    <P class="msg">
                        <%=msg%>

                    </P>

                    <%}%>

                        <% if (typeof token !=='undefined' ) { %>
                            <form method="post" action="/password/reset/<%=token%>">
                                <label for="newPassword">New-Password : </label>
                                <input type="password" id="newpassword" name="newPassword"><br>
                                <label for="confirm-password">Confirm-Password : </label>
                                <input type="password" id="confirm-password" name="confirmPassword"><br>

                                <button type="submit">Submit</button>
                                <br>

                            </form>
                            <% } %>
        </div>
    </div>
</body>

</html>