<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-Up</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="outer-div">
        <header id="page-header">
            <h1><u>Authentication System</u></h1>
            <div id="header-div">
                <button class="page-header-button" type="button"><a href="/user-home">Home</a></button>
                <form method="get" action="/logout">
                    <button class="page-header-button" type="submit">Logout</button>
                </form>
            </div>
        </header>
        <div id="form-div">
            <h1>Update-password</h1>
            <% if(msg=="Password Update successful!" ){%>
                <P class="msg1">
                    <%=msg%>
                </P>
                <%}else{%>
                    <P class="msg">
                        <%=msg%>
                    </P>

                    <%}%>
                        <form method="post" action="/update-password">
                            <label for="currentpassword">Current-password</label>
                            <input type="text" id="currentpassword" name="currentPassword"><br>
                            <label for="new-password">New-password</label>
                            <input type="text" id="newpassword" name="newPassword"><br>
                            <label for="Confirmpassword">Confirm-password</label>
                            <input type="text" id="Confirmpassword" name="confirmPassword"><br>

                            <button type="submit">Submit</button>
                            <br>

                        </form>
        </div>
    </div>
</body>

</html>